*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
    --gray:#eee;
}
@font-face{
    font-family: "Gilroy";
    src:url(../fonts/Gilroy-Bold.woff);
    font-weight: 800;
}
@font-face{
    font-family: "Gilroy";
    src:url(../fonts/Gilroy-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: "Gilroy";
    src:url(../fonts/Gilroy-Regular.woff);
    font-weight: normal;
}
body{
	font-size: 20px;
	color:#000;
    font-family: "Gilroy";
    font-weight: normal;
}
a{
	text-decoration: none;
	font-size: 20px;
	color:#000;
}
li{
	list-style-type: none;
}
h2{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}
p {
  margin: 15px 0;
  font-size: 17px;
  line-height: 1.8;
}
.container{
	width: 1140px;
	padding-right: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
section {
  padding: 80px 0;
  position: relative;
}
img{
	max-width: 100%;
}

.text-center{
	text-align: center;
}


.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.header_inner .logo-wrapper img{
  max-width: 300px;
}
header .menu_wrapper{
    position: relative;
    z-index: 99;
}
header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/bg-layer.png) no-repeat !important;
    z-index: 9;
    height: 100%;
    width: 54%;
    background-size: contain !important;
}
.header_inner .menu_wrapper ul {
  display: flex;
  justify-content: center;
}
.header_inner .menu_wrapper ul li {
    margin: 0 5px;
}
.header_inner .menu_wrapper ul a {
  padding: 20px 10px;
}
.btn {
    background: #fff;
    padding: 15px 30px !important;
    border-radius: 25px;
    transition: 0.3s;
    border: 1px solid #000;
}
.btn-black {
    background-image: linear-gradient(90deg, black 50%, transparent 50%);
    color: #fff;
    background-size: 201% 100%;
}
.btn-black:hover {
    color: #000;
    background-position: -99%;
}
.banner_section_wrap h1{
	font-size: 5rem;
}
.banner_section_wrap .sub_title {
    font-size: 27px;
    font-weight: 400;
    margin: 25px 0;
}
.banner_section_wrap > div {
    width: 50%;
}
.banner_section .banner_section_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.banner_section_wrap > div:last-child {
    text-align: right;
    position: relative;
    z-index: 99;
}
.banner_section .banner_section_wrap ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner_section .banner_section_wrap ul li {
    margin: 10px 0;
    font-weight: 500;
}
.key_points li{
	position: relative;
}
.key_points li::before{
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	position: absolute;
	border-top: 2px solid #000;
	left: -20px;
	border-left: 2px solid #000;
	transform: rotate(136deg);
	margin: 5px 0 0px -5px;
}
.image_icons li > div{
    display: flex;
	justify-content: center;
	align-items: center;
}
.image_icons li > div img {
    width: 30px;
    margin-right: 10px;
}
.image_icons span {
    font-size: 18px;
}
.image_icons li{
	position: absolute;
	background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid;
}
.image_icons li:first-child {
    top: 25px;
    left: 79px;
}
.image_icons li:nth-child(2) {
    top: 35%;
    left: 0;
}
.image_icons li:nth-child(3) {
    top: 75%;
    left: 0;
}
.image_icons li:nth-child(3) {
    top: 77%;
    left: 5%;
}
.image_icons li:nth-child(4) {
    top: 17%;
    right: -8%;
}
.image_icons li:nth-child(5) {
    top: 56%;
    right: -10%;
}

.bg-gray{
    background-color:var(--gray);
}
.bg-black{
    background-color: #000;
}
.testimonials_wrap h2 {
    margin-bottom: 30px;
}
.testimonials_wrap .swiper-slide {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 20px;
}
.testimonials_wrap .name {
  font-size: 17px;
  font-weight: 700;
}
.testimonials_wrap span {
  font-size: 17px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}
.testimonials_wrap {
  position: relative;
}

.testimonials_wrap .swiper-button-prev, 
.testimonials_wrap .swiper-button-next {
    background: var(--gray);
    color: #000;
    border-radius: 50%;
    width: 45px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6%;
    border: 2px solid #000;
}
.testimonials_wrap .swiper-button-prev:hover, 
.testimonials_wrap .swiper-button-next:hover{
    background: #000;
    color:#fff;
}
.testimonials_wrap .swiper-button-prev {
  left: 90%;
}
.testimonials_wrap .swiper-button-next::after, .testimonials_wrap .swiper-button-prev::after{
    font-size: 25px;
    font-weight: 800;
}
.pricing_section {
    color: #fff;
}
.pricing_section_wrap .pricing_head {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.pricing_section_wrap .pricing_head h5 {
  font-weight: 300;
}
.pricing_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
.pricing_cards .price_card {
  background: #fff;
  color: #000;
  text-align: left;
  border-radius: 20px;
}
.pricing_cards .price_card .title {
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 15px;
}
.pricing_cards .price_card .desc {
  padding: 30px;
  font-size: 16px;
}
.pricing_cards .price_card .desc .price {
  text-align: center;
  margin: 0;
}
.pricing_cards .price_card .desc .price.custom {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1;
}
.pricing_cards .price_card .desc .price .highlight {
  display: inherit;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}

.pricing_cards .price_card .desc ul li {
  list-style-type: disc;
  margin-bottom: 12px;
}
.pricing_cards .price_card .desc ul {
  margin-top: 40px;
}
.pricing_cards .price_card .desc ul li strong {
    font-style: italic;
}
.price_disclaimer {
  width: 70%;
  margin: 20px auto;
}

.services_section_wrap .services_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.services_section_wrap .services_block .service {
    border: 1px solid var(--gray);
    border-radius: 20px;
}
.services_section_wrap .services_block .service img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.services_section_wrap .services_block .service .desc {
    padding: 35px;
}
.services_section_wrap .services_block .service .desc ul {
  margin-top: 25px;
  margin-left: 10px;
}
.services_section_wrap .services_block .service .desc ul li {
  list-style-type: disc;
  margin-bottom: 15px;
  font-size: 16px;
}
.about_us_section_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.about_us_section_wrap > div {
  width: 50%;
}
.consultation_wrap form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
input, select {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-color: #000;
    font-size: 18px;
    padding: 10px 20px;
}
input:focus, input:active {
  border: 1px solid #000;
}
.consultation_wrap {
  border-radius: 25px;
  padding: 25px;
  text-align: center;
}
.consultation_wrap h2 {
  color: #fff;
  margin: 30px 0 70px 0;
  display: inline-block;
}
.consultation_wrap form .form-group {
  margin-bottom: 20px;
  margin-right: 10px;
}
.consultation_wrap form  .width-50 {
  width: calc(50% - 10px);
}
.consultation_wrap form input, .consultation_wrap form select {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.consultation_wrap form .btn {
    width: 25%;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    transition: 0.3s;
}
.consultation_wrap form .btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
section.consultation_section {
    padding-bottom: 0;
}
footer {
  padding: 30px 0;
}