:root{
	--primary:#149AD1;
}
*{
	padding: 0;
	margin:	0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto';
	color: #0B4574;
}
img{
	max-width: 100%;
}
.container{
	width: 1140px;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}
a{
	text-decoration: none;
	color: unset;
}
li{
	list-style: none;
}
header {
  position: relative;
  z-index: 2;
}
section{ position:relative;  }
section:not(.banner){
	padding: 80px 0;
}
.top_header p {
    text-align: right;
    padding: 20px 0;
}
.bottom_header {
  padding: 20px 0;
}
.bottom_header .menu {
    display: flex;
    justify-content: right;
    align-items: center;
}
.bottom_header .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom_header .menu ul a {
    padding: 10px 25px;
    color:#fff;
}
.bottom_header .menu ul li {
    display: inline-flex;
}
.btn {
  display: inline-flex;
  padding: 10px 36px;
  border: 2px solid var(--primary);
  margin-left: 15px;
  border-radius: 10px;
}
.btn-primary{
	background-color:var(--primary);
	color: #fff;
}
header::before {
  content: "";
  background: url(../images/header_logo.png) no-repeat;
  position: absolute;
  top: -60px;
  left: 61px;
  height: 200px;
  width: 200px;
  background-size: cover;
  transform: scale(2);
}
/*.banner{
	background: url(../images/banner_image.png) no-repeat;
	background-size: 100%;
	width: 100%;
	position: relative;
	top: -80px;
	min-height: 600px;
	z-index: 1;
	background-position: bottom;
}*/
.banner > img{
	width: 100%;
	position: relative;
	top: -80px;
	height: 600px;
}
.banner_wrap ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 5%;
    gap: 30px;
}
.banner_wrap ul li {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
}